pre > code {
	display: block;
	padding: 8px;
	overflow-x: auto;
	background-color: var(--code-background-color);
	color: var(--code-color);
}

.language-log-console .timestamp {
	color: var(--log-timestamp-color);
}

.language-log-console .source {
	color: var(--code-color);
}

.language-log-console .level-trace {
	background-color: var(--log-trace-color);
	color: var(--black);
}

.language-log-console .level-debug {
	background-color: var(--log-debug-color);
	color: var(--black);
}

.language-log-console .level-info {
	background-color: var(--log-info-color);
	color: var(--black);
}

.language-log-console .level-warning {
	background-color: var(--log-warning-color);
	color: var(--black);
}

.language-log-console .level-error {
	background-color: var(--log-error-color);
	color: var(--black);
}

.language-log-console .log:has(.level-warning) {
	color: var(--log-warning-color);
}

.language-log-console .log:has(.level-error) {
	color: var(--log-error-color);
}