.overload-link {
	align-self: flex-start;
	order: 1;
	font-size: 0.75rem;
}

.overload-syntax {
	overflow-x: auto;
	color: var(--highlight-color);
	white-space: nowrap;
}

pre > code {
	--highlight-color: var(--highlight-color-dark);
	--highlight-class-color: var(--highlight-class-color-dark);
	--highlight-comment-color: var(--highlight-comment-color-dark);
	--highlight-escape-color: var(--highlight-type-color-dark);
	--highlight-function-color: var(--highlight-function-color-dark);
	--highlight-keyword-color: var(--highlight-keyword-color-dark);
	--highlight-macro-color: var(--highlight-macro-color-dark);
	--highlight-namespace-color: var(--highlight-namespace-color-dark);
	--highlight-number-color: var(--highlight-number-color-dark);
	--highlight-operator-color: var(--highlight-operator-color-dark);
	--highlight-string-color: var(--highlight-string-color-dark);
	--highlight-type-color: var(--highlight-type-color-dark);
}

code .class {
	color: var(--highlight-class-color);
}

code .comment {
	color: var(--highlight-comment-color);
}

code .escape {
	color: var(--highlight-escape-color);
}

code .function {
	color: var(--highlight-function-color);
}

code .keyword {
	color: var(--highlight-keyword-color);
}

code .macro {
	color: var(--highlight-macro-color);
}

code .namespace {
	color: var(--highlight-namespace-color);
}

code .number {
	color: var(--highlight-number-color);
}

code .operator {
	color: var(--highlight-operator-color);
}

code .string {
	color: var(--highlight-string-color);
}

code .type {
	color: var(--highlight-type-color);
}

.overload-list-item p {
	order: 2;
}

.overload-list-item :last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {
	.overload-list-item {
		display: block;
	}

	.overload-link {
		float: right;
	}

	.overload-syntax {
		white-space: normal;
	}
}