.overload-link {
	align-self: flex-start;
	order: 1;
	font-size: 0.75rem;
}

.overload-syntax {
	overflow-x: auto;
	color: var(--highlight-color);
	white-space: nowrap;
}

.overload-syntax .class {
	color: var(--highlight-class-color);
}

.overload-syntax .function {
	color: var(--highlight-function-color);
}

.overload-syntax .keyword {
	color: var(--highlight-keyword-color);
}

.overload-syntax .namespace {
	color: var(--highlight-namespace-color);
}

.overload-syntax .operator {
	color: var(--highlight-operator-color);
}

.overload-syntax .type {
	color: var(--highlight-type-color);
}

.overload-description {
	order: 2;
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {
	.overload-list-item {
		display: block;
	}

	.overload-link {
		float: right;
	}

	.overload-syntax {
		white-space: normal;
	}
}