<h1 id="components" class="anchor">
	<a href="#components" title="Anchor" class="anchor-link">
		§
	</a>

	Components
</h1>

<p>
	Below are showcases of common UI components.
</p>

<h2 id="text" class="anchor">
	<a href="#text" title="Anchor" class="anchor-link">
		§
	</a>

	Text
</h2>

<p>
	Lorem ipsum dolor sit amet <a href="#" class="link link-external">Inline External Link</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>

<h2 id="lists" class="anchor">
	<a href="#lists" title="Anchor" class="anchor-link">
		§
	</a>

	Lists
</h2>

<ul>
	<li>
		List Item 1
	</li>

	<li>
		List Item 2
	</li>

	<li>
		List Item 3
	</li>
</ul>

<ul class="list">
	<li>
		<a href="#" class="list-item-link">
			List Item Link 1
		</a>
	</li>

	<li>
		<a href="#" class="list-item-link">
			List Item Link 2
		</a>
	</li>

	<li>
		<a href="#" class="list-item-link">
			List Item Link 3
		</a>
	</li>
</ul>

<h2 id="buttons" class="anchor">
	<a href="#buttons" title="Anchor" class="anchor-link">
		§
	</a>

	Buttons
</h2>

<button class="button">
	Button 1
</button>

<button class="button">
	Button 2
</button>

<button class="button">
	Button 3
</button>

<h2 id="notes" class="anchor">
	<a href="#notes" title="Anchor" class="anchor-link">
		§
	</a>

	Notes
</h2>

<p>
	<include src="components/lorem.html"></include>
</p>

<div class="note note-error">
	This is an error note.
</div>

<p>
	<include src="components/lorem.html"></include>
</p>

<div class="note note-info">
	This is a neutral information note.
</div>

<p>
	<include src="components/lorem.html"></include>
</p>

<div class="note note-warning">
	This is a warning note.
</div>