<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Atalante" />
		<meta name="description" content="Official Atalante website" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://atalantestudio.github.io" />
		<meta property="og:site_name" content="Atalante" />
		<meta property="og:title" content="Home – Atalante" />

		<base href="./" />

		<link rel="icon" type="image/png" href="../assets/images/icons/atalante.png" />

		<link rel="stylesheet" type="text/css" href="../assets/css/index.css" />

		<script type="module" src="../assets/js/index.js"></script>

		<title>Components – Atalante</title>
	</head>

	<body>
		<header class="header">
			<div class="container">
				<a href="../" class="title-container">
					<include src="../assets/images/icons/atalante.svg"></include>

					<span class="title">
						atalantestudio
					</span>
				</a>

				<nav>
					<button class="color-theme-button"></button>

					<a href="https://github.com/atalantestudio/atalantestudio.github.io" title="GitHub" class="github-link">
						<include src="../assets/images/icons/github.svg"></include>
					</a>
				</nav>
			</div>
		</header>

		<article class="container">
			<h1 id="components" class="anchor">
				<a href="#components" title="Anchor" class="anchor-link">
					§
				</a>

				Components
			</h1>

			<p>
				Below are showcases of common UI components.
			</p>

			<h2 id="text" class="anchor">
				<a href="#text" title="Anchor" class="anchor-link">
					§
				</a>

				Text
			</h2>

			<p>
				Lorem ipsum dolor sit amet <a href="#" class="link link-external">Inline External Link</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>

			<p>
				<blockquote>
					<include src="../lorem.html"></include>
				</blockquote>
			</p>

			<p>
				<include src="../lorem.html"></include>

				<hr />

				<include src="../lorem.html"></include>
			</p>

			<h2 id="lists" class="anchor">
				<a href="#lists" title="Anchor" class="anchor-link">
					§
				</a>

				Lists
			</h2>

			<ul>
				<li>
					List Item 1
				</li>

				<li>
					List Item 2
				</li>

				<li>
					List Item 3
				</li>
			</ul>

			<ul class="list">
				<li>
					<a href="#" class="list-item-link">
						List Item Link 1
					</a>
				</li>

				<li>
					<a href="#" class="list-item-link">
						List Item Link 2
					</a>
				</li>

				<li>
					<a href="#" class="list-item-link">
						List Item Link 3
					</a>
				</li>
			</ul>

			<h2 id="buttons" class="anchor">
				<a href="#buttons" title="Anchor" class="anchor-link">
					§
				</a>

				Buttons
			</h2>

			<button class="button">
				Button 1
			</button>

			<button class="button">
				Button 2
			</button>

			<button class="button">
				Button 3
			</button>

			<h2 id="notes" class="anchor">
				<a href="#notes" title="Anchor" class="anchor-link">
					§
				</a>

				Notes
			</h2>

			<p>
				<include src="../lorem.html"></include>
			</p>

			<div class="note">
				This is a standard note.
			</div>

			<p>
				<include src="../lorem.html"></include>
			</p>

			<div class="note note-error">
				This is an error note.
			</div>

			<p>
				<include src="../lorem.html"></include>
			</p>

			<div class="note note-info">
				This is a neutral information note.
			</div>

			<p>
				<include src="../lorem.html"></include>
			</p>

			<div class="note note-warning">
				This is a warning note.
			</div>
		</article>

		<footer class="footer container">
			Footer
		</footer>
	</body>
</html>