button {
	border-width: 1px;
	border-style: solid;
	border-color: var(--secondary-color);
	background-color: transparent;
	color: var(--secondary-color);
	cursor: pointer;
	transition-property: background-color, color;
	transition-duration: 0.2s;
}

button:hover {
	background-color: var(--secondary-color);
}

button:focus {
	border-color: var(--text-color);
}