@import url("button.css");
@import url("container.css");
@import url("fonts.css");
@import url("text.css");

@import url("components/header.css");

:root {
	/* Light theme */
	--primary-color-light: #f0f0f0;
	--secondary-color-light: #989898;
	--tertiary-color-light: #c9c9c9;
	--text-color-light: #0a0a0a;
	--text-hover-color-light: #535353;

	/* Dark theme */
	--primary-color-dark: #0a0a0a;
	--secondary-color-dark: #3a3a3a;
	--tertiary-color-dark: #535353;
	--text-color-dark: #a5a5a5;
	--text-hover-color-dark: #c2c2c2;
}

body {
	margin: 0;
	background-color: var(--primary-color);
	color: var(--text-color);
	font-family: "PP Radio Grotesk", "Arial", sans-serif;
	font-size: 1.1rem;
}