ul {
	padding-left: calc(var(--article-horizontal-padding) + 2px);
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding-left: 0;
	list-style-type: none;
}

.list-item-link {
	display: flex;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--secondary-color);
	transition-duration: 0.2s;
	transition-property: background-color, color;
}

.list-item-link:hover {
	background-color: var(--link-hover-background-color);
}

.list-item-link:focus {
	border-color: var(--text-hover-color);
	color: var(--text-hover-color);
}