.footer .container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: var(--secondary-color);
}

@media screen and (min-width: 992px) {
	.footer .container {
		padding: 16px 0;
	}

	.copyright {
		text-align: right;
	}
}