.header {
	display: flex;
	align-items: center;
	height: var(--header-height);
	top: 0;
	position: sticky;
	box-shadow: 0 8px 16px var(--primary-color);
	background-color: var(--primary-color);
	z-index: 1;
}

.header .title {
	font-size: 1.25rem;
}

.header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 8px;
	flex-grow: 1;
}

.header .color-theme-button {
	padding: 1px 4px;
	font-size: 0.8rem;
}

.header .github-link {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.header .title {
		font-size: 1.5rem;
	}
}