.header {
	height: var(--header-height);
	top: 0;
	position: sticky;
	box-shadow: 0 8px 16px var(--primary-color);
	background-color: var(--primary-color);
	z-index: 1;
}

.header .container {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.header .title-container {
	display: flex;
	align-items: center;
	column-gap: 4px;
	font-size: 1.25rem;
}

.header .title-container :last-child {
	font-weight: bold;
}

.header .title-container :last-child:hover, .header .title-container :last-child:hover {
	text-decoration: underline;
}

.header .navigation {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

@media screen and (min-width: 992px) {
	.header .title-container {
		font-size: 1.5rem;
	}
}