.header {
	height: var(--header-height);
	top: 0;
	position: sticky;
	box-shadow: 0 8px 16px var(--primary-color);
	background-color: var(--primary-color);
	z-index: 1;
}

.header .container {
	display: flex;
	align-items: center;
	height: 100%;
}

.header .title-container {
	display: flex;
	align-items: center;
	column-gap: 4px;
	font-size: 1.25rem;
}

.header .title-container :last-child {
	font-weight: bold;
}

.header .title-container :last-child:hover, .header .title-container :last-child:hover {
	text-decoration: underline;
}

.header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 8px;
	flex-grow: 1;
}

.header .color-theme-button {
	padding: 1px 4px;
	font-size: 0.8rem;
	border: none;
	background: transparent;
	color: var(--text-color);
	cursor: pointer;
	font-family: "PP Radio Grotesk", "Arial", sans-serif;
	font-style: italic;
}

.header .github-link {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.header .title-container {
		font-size: 1.5rem;
	}
}