.container-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	list-style-type: none;
}

.container-list li:not(:first-child) {
	margin-top: -1px;
}

.container-list-item {
	display: flex;
	flex-direction: column;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--secondary-color);
}

.container-list-item p:last-child {
	margin-bottom: 0;
}

.link-list-item a {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-color: var(--secondary-color);
	border-style: solid;
	border-width: 1px;
	transition-duration: 0.2s;
	transition-property: background-color, color;
}

.link-list-item a:hover {
	background-color: var(--link-hover-background-color);
}

.link-list-item a:focus {
	position: relative;
	border-color: var(--text-hover-color);
	color: var(--text-hover-color);
}

.link-list-item a :last-child {
	margin-top: 8px;
	margin-bottom: 0;
}