.note {
	padding: 16px;
	border-color: var(--note-color);
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	background-color: color-mix(in srgb, var(--note-color), transparent 85%);
	color: var(--note-color);
}

.note.note-error {
	--note-color: var(--note-error-color);
}

.note.note-info {
	--note-color: var(--note-info-color);
}

.note.note-warning {
	--note-color: var(--note-warning-color);
}